*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*global-class*/
.heading{
	font-size: 45px;
	font-weight: 700;
	text-align: center;
	color: white;
}
.heading-description{
	font-size: 17px;
	font-weight: 500;
	text-align: center;
	color: white;
	margin-top: 25px;
}

nav ul{
	float: right;
	z-index: 999;
}
nav ul li{
	display: inline-block;
	margin-right: 30px;
	line-height: 80px;
}
nav a{
	font-size: 20px;
	color: black;
	position: relative;
	font-weight: 600;
}
nav a::after{
	position: absolute;
	content: "";
	width: 100%;
	background-color: black;
	height: 2px;
	left: 0;
	bottom:-10px;
	transform: scaleX(0);
	transform-origin: left;
	transition: 0.5s ease;
}
nav a:hover::after{
	transform: scaleX(1);
}
nav a:hover{
	text-decoration: none;
	color: black;

}

label.logo{
    line-height:70px;
    font-size: 35px; 
}
nav #icon{
	font-size: 35px;
	float: right;
	line-height: 70px;
	margin-right:25px;
	display: none;
	cursor: pointer;
	color: black;
}


/*header-area media*/

@media(max-width: 991px){
      nav #icon{
		display: block;
	}
	nav ul{
		
		width: 100%;
		height: 100vh;
		left: -100%;
		background-color: rgba(255,255,255,.97);
		position: absolute;
		transition: 0.5s ease;
}
nav ul li{
	display:block;
	text-align: center;
	line-height: 70px;
}
nav ul.show{
	left: 0;
}
}

/*fotter*/
.fotter-area{
	padding: 50px 0px;
	background: #2C2C2C;
	color: white;
}
.hero-banner-description h4{
	margin-top: 25px;
}
.heading-fotter{
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #FAB702;
}
.heading-para{
	margin-top: 25px;
}
.social-media span i{
   font-size: 30px;
   padding: 0px 25px;
   margin-top: 25px;
   color: white;
   transition: 0.5s ease;
}
.social-media span i:hover{
	color: #FAB702;
}
.second{
	text-align: center;
}
.second h3{
	font-size: 18px;
	margin-top: 25px;
}
.second h3 a{
	color: white;
	transition: 0.5s ease;
}
.second h3 a:hover{
	color: #FAB702;
	text-decoration: none;
}
.third h3{
	font-size: 18px;
	margin-top: 25px;
}
@media(max-width: 991px){
	.social-media span i{
   font-size: 25px;
   padding: 0px 20px;
   margin-top: 25px;
   color: white;
   transition: 0.5s ease;
}
}
/*index-page-design*/

/*banner-design*/

.banner-wrapper{
	padding: 150px 0px;
}
.hero-banner h1{
	font-size: 60px;
	font-weight: 700px;
	color: white;
}
.hero-banner h2{
	font-size: 55px;
	font-weight: 700;
	color: white;
}
.hero-banner-description{
	font-size: 18px;
	font-weight: 500;
	margin-top: 30px;
	color: white;
}
.banner-button{
	margin-top: 50px;
	
}
.banner-button a{
	padding: 20px 20px;
	background:#FAB702;
	color: white;
	font-size: 20px;
	font-weight: 600;
	border:2px solid #FAB702;
	transition: 1s ease;
}
.banner-button a:hover{
	background: transparent;
	border:2px solid #FAB702;
	color: white;
	text-decoration: none;
}

/*media-banner*/
@media(max-width: 1199px){
	.banner-wrapper{
	padding: 250px 0px;
}
}
@media(max-width: 767px){
		.banner-wrapper{
	padding: 100px 0px;
}
}
@media(max-width: 479px){
	.banner-wrapper{
	padding: 100px 0px;
}
.hero-banner h1 {
    font-size: 35px;
    font-weight: 700px;
    color: white;
}
.hero-banner h2 {
    font-size: 33px;
    font-weight: 700;
    color: white;
}
.hero-banner-description {
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px;
    color: white;
}
}


/*services-wrapper*/
.services-wrapper{
	padding: 80px 0px;
	background: #18191b;
}
.services-card img{
	width: 100%;
	height: 200px;
}
.services-card h1{
	font-size: 30px;
	font-weight: 600;
	color: white;
}
.services-card p{
	font-size: 14px;
	color: white;
}
.service-row{
	margin-top: 80px;
}
.image-service{
	position: relative;
}
.overlay-image{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FAB702;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.image-service:hover .overlay-image {
  height: 100%;
}
.overlay-text{
  color: white;
  font-size: 20px;
  position: absolute;
  font-weight: 700;
  letter-spacing: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*media-service*/
@media(max-width: 1204px){
	.services-card h1 {
    font-size: 25px;
    font-weight: 600;
    color: white;
}
}
@media(max-width: 991px){
	.services-card h1 {
    font-size: 20px;
    font-weight: 600;
    color: white;
}
}

/*choose-wrapper*/
.choose-wrapper{
	padding: 80px 0px;
	background: #2C2C2C;
}
.choose-card{
	text-align: center;
}
.choose-card i{
	font-size: 45px;
	color: #FAB702;
}
.choose-card p{
	color: white;
	size: 16px;
	margin-top: 25px;
}
.choose-card h1{
	font-size: 30px;
	font-weight: 600;
	color: white;
	margin-top: 25px;
}
.choose-row{
	margin-top: 80px;
}

/*media*/
@media(max-width: 1024px){
	.choose-card h1 {
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-top: 25px;
}
}


/*isotope*/
.portfolio-area{
	padding: 80px 0px;
    background: #18191b;
}

.portfolio-image {
  position: relative;
  width: 100%;
}
.portfolio-image img{
  width: 100%;
  height: 250px;
}
.overlay-portfolio-part_1{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FAB702;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.portfolio-image:hover .overlay-portfolio-part_1 {
  height: 100%;
  cursor: pointer;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.gallery{
	margin-top: 50px;
}


/*contact*/
.contact-area{
    padding: 80px 0px;
    background-color: #2B2B2B;
}
.form-group{
    margin-bottom: 35px !important;
}
label{
    color: white;
    font-size: 18px;
    font-weight: 700;
}
#inputAddress2{
    padding-bottom: 100px;
    padding-top: 20px;
}
.submit_button{
     font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 30px;
    letter-spacing: 2px;
    padding: 10px 35px;
    text-transform: uppercase;
    transition: all 1s ease 0s;
    font-family: 'Poppins', sans-serif;
    background: white;
    color: #1a1a1a;
    border: 2px solid #fff;
}
.submit_button:hover{
    background: #1a1a1a;
    color: white;
    border: 2px solid #1a1a1a;

}
.text-contact{
    color: white;
    margin-left: 50px;
}
.Address-part{
    margin-top: 50px;
}
.Address-part span{
    padding-left: 15px;
    font-size: 18px
}
.Address-part p{
    padding-left: 30px;
    font-size: 18px

}
.email-part span{
    padding-left: 15px;
    font-size: 18px;
}
.email-part p{
    padding-left: 30px;
    font-size: 18px;
}
.phone-part span{
    padding-left: 15px;
    font-size: 18px;
}
.phone-part  p{
    padding-left: 30px;
    font-size: 18px;

}
.parent-contact{
    margin-top: 80px;
}

@media(max-width: 991px){
	.text-contact {
    color: white;
    margin-left: 0;
}
}




/*about-section-design---------------------------------------*/
.hero-about h1{
	font-size: 65px;
	color: white;
	font-weight: 600;
}
.hero-about p{
	font-size: 20px;
	color: white;
	margin-top: 25px;

}


/*about-description*/

.about-description{
	padding: 80px 0px;
	background: #18191b;
}

.about-image img{
	width: 100%;
}
.about-description-wrapper{
	color: white;
}
.description{
	margin-top: 80px;
}
.about-description-wrapper h1{
	color: #FAB702;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 35px
}
.about-description-wrapper p{
	margin-top: 25px;
}
.button-about{
	margin-top: 25px;
}
.button-about a{
	padding: 8px 15px;
	background: #FAB702;
	color: white;
	font-size: 25px;
	transition: 0.5s ease;
}
.button-about a:hover{
	text-decoration: none;
	color: white;
	background: transparent;
	border: 2px solid #FAB702; 
}

@media (max-width: 479px){
	.hero-about h1 {
    font-size: 35px;
    color: white;
    font-weight: 600;
}
.about-description-wrapper h1 {
    color: #FAB702;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 30px;
}
.about-section{
	 background-attachment: scroll;
}
}


/*services-description------*/

@media(max-width: 991px){
	.choose-card h1 {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-top: 25px;
}
.about-section{
	 background-attachment: scroll;
}
}

/*gallery-wrapper*/
.about-gallery{
	padding: 80px 0px;
	background: #18191b;
}
@media(max-width: 991px){
	.gallery-wrapper{
		background-attachment: scroll;
	}
}

@media(max-width: 991px){
	.contact-wrapper{
		background-attachment: scroll;
	}
}
