body{
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	scroll-behavior: smooth;
	
}

/*-----------navbar-area---------*/

.navbar-expand-lg .navbar-nav .nav-link{
	padding: 0;
	margin: 0;
	margin-right: 17px;
	color:white;
	font-weight: 600;
	line-height:40px;


}
.navbar-expand-lg .navbar-nav .nav-link:hover{
	    color: #eaad13;
	    transition: 1s ease;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
	color: #eaad13;
}
.navbar-brand{
	letter-spacing: 5px;
	color: white;
	font-weight: bolder;
	font-style: italic;
}
.navbar-brand:hover{
	letter-spacing: 10px;
	transition: 1s ease;
	color: white;
}
.navbar{
	background: black;
	padding: 25px !important;
	opacity: 0.7;
}

/*banner-are*/

#particles-js{
padding: 215px 0 315px;
}
#particles-js h1{
	color: #fff;
    font-family: ll;
    font-size: 41px;
}
#particles-js h2{
	    color: #fff;
    font-family: lb;
    font-size: 48px;
}
#particles-js h2 span{
	color:#eaad13; 
}
#particles-js p{
	color: #fff;
    font-size: 16px;
    font-family: lr;
    padding-right: 117px;
    padding-bottom: 26px;
    padding-top: 5px;
}
#particles-js button{
	background: transparent;
	border: 2px solid #eaad13;
	color: white;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 10px; 
}

/*about-section--------------*/
#about-section{
	    padding: 90px 0;
	    background: black;
}
.heading{
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	font-family: bs;
	letter-spacing: 5px;
	color: white;
}
.heading span{
	color:#eaad13;

}
.text-about-card{
	border: 2px solid #eaad13;
	padding: 35px;
	border-radius: 25px;
}
.text-about-card h1{
	    font-family: lb;
    font-size: 35px;
    color: white;
}
.text-about-card h1 span{
	color:#eaad13;
}
 .text-about-card h2{
 	font-family: ll;
    font-size: 21px;
    padding-bottom: 2px;
    color: white;
 	}   
 .text-about-card p{
 	font-family: lr;
    font-size: 14px;
    color: white;
    line-height:30px;
 }
 .paragraph3 span a{
 	font-size: 40px;
 	
 	color: white;
 	letter-spacing: 45px;

 }
 .paragraph3 span :hover{
 	color: #eaad13;
    transition: 1s ease;

 }
 .paragraph3{
 	padding-top: 30px;
 }

/*service-area------------*/
#service-part{
	
	padding: 90px 0 ;
}
.card-service{
text-align: center;
}
.card-service i {
    font-size: 40px;
    color: #eaad13;
    -webkit-transition: all linear .4s;
    -o-transition: all linear .4s;
    transition: all linear .4s;
    padding-bottom: 7px;
    line-height: 70px;
}
.icon{
    background: #f1f1f1;
    display: inline-block;
    width: 90px;
    height: 80px;
    border-radius: 50%;
    
}
.inner-icon{
	border: 2px solid #f1f1f1;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
}

    .card-service h1{
    	font-family: lb;
    text-transform: uppercase;
    color: #eaad13;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 12px;
    padding-left: 15px;


    }
    .card-service p{
    	font-family: ll;
    color: white;
    font-size: 16px;
    padding: 5px 8px 15px;
    }
    
    /*---------portfolio-area-----*/
    #porfolio-area{
    	background:black;
    	padding: 90px 0; 
    }
    .portfolio-image {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5px;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FF5555;
  overflow: hidden;
  width: 100%;
 padding: -5px;
  height: 0;
  transition: .8s ease;

}

.portfolio-image:hover .overlay {
  height: 80%;
  width: 100%;

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*-----------blog-area-------------*/

#Blog-area{
	padding: 90px 0;
	background: black;
}
.inner-blog h1{
	font-size: 16px; 
     font-weight:bolder;
     letter-spacing: .1px; 
    margin-top: 10px;
    color:#eaad13; 
}
.inner-blog p{
	font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: white;
}
.inner-blog{
	border: 2px solid #eaad13;
	padding: 15px;
}

/*counter-part*/
#counter-part{
	padding: 90px 0;
	background: linear-gradient(90deg,#3c6382,#82ccdd);
	background-attachment: fixed;

}
.inner-counter{
	text-align: center;
}
.inner-counter i{
	font-size: 50px;
	background: #eaad13;
	color: white;
	border-radius: 50%;
	padding: 20px;
}
.num{
	color: green;
	font-weight: 800;
	font-size: 40px;
	margin-top: 25px;

}
.inner-counter p{
	color:black ;
	font-weight: bolder;
	letter-spacing: 5px;
	font-family: lb;
	font-size: 25px;
}
/*contact-area--------*/

#contact-area{
	padding: 90px 0;
	background: black;
}
.name-contact{
	width: 100%;
	height: 50px;
	border-radius: 5px;
	border: 2px solid green;
background: transparent;
}
.email-contact{
	width: 80%;
	height: 50px;
	border-radius: 5px;
	border: 2px solid green;
background: transparent;
}
.message-contact{
	width: 60%;
	height: 150px;
	border-radius: 5px;
	border: 2px solid green;
	padding: 25px;
	background: transparent;
}
.button-contact{
	background: transparent;
	border:2px solid #eaad13;
	color: white;
	font-weight: 800;
	padding: 10px 25px;
}

/*media-query*/

@media only screen and (max-width: 991px)
{
	.text-about-card h1 {
    font-family: lb;
    font-size: 23px;
    color: white;
}

.text-about-card h2 {
    font-family: ll;
    font-size: 18px;
    padding-bottom: 2px;
    color: white;
}
.text-about-card p {
    font-family: lr;
    font-size: 15px;
    color: white;
    line-height: 30px;
}
 .paragraph3 span a{
 	font-size: 40px;
 	
 	color: white;
 	letter-spacing: 20px;

 }
}

@media only screen and (max-width: 360px)
{
	#particles-js h2{
	    color: #fff;
    font-family: lb;
    font-size: 35px;
}
.message-contact {
    width: 92%;
    height: 150px;
    border-radius: 5px;
    border: 2px solid green;
    padding: 25px;
    background: transparent;
}
}


@media only screen and (max-width: 1170px)
{
	.inner-blog h1 {
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: .1px;
    margin-top: 10px;
    color: #eaad13;
}
}