body{
  padding: 0;
  margin:0;
  position: relative;
transition-delay:5s ease;
}
.fixed-top{
  padding: 30px !important;
}

.carousel-item img{
  height: 800px;
   z-index: 999;
}
.navbar-nav .nav-link{
  color:#fefefe;
}
.clear{
  clear: both;
  display: table;
  content: "";
}
.column{
  float: left;
  
}
.row-caption{
  width:100%;
}
.carousel-caption{
  top:60%;
}

.column h5{
  font-size: 70px;
  font-weight: 700;
}
.column h5 span{
  font-size: 40px;
  letter-spacing: 5px;
  font-style: italic;
  font-weight: normal;
}
.column p{
  font-size: 18px;
}
.heading-services{
  font-size: 45px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top:70px;
  font-weight: 300;
}
.parent-services p{
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}
.icon-style{
  text-align: center;
  letter-spacing: 5px;
  color:#EEE445;
}
.row-card{
  width: 100%;
}
.col-md-4{
  float: left;

}
.inner-card{
  text-align: center;
}
.inner-card i{
  font-size: 45px;
}
.inner-card h1{
      font-size: 18px;
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: 600;
}
.text-card p{
  font-size: 14px;
}
.inner-card .icon-part{
      background: #f9461d;
    border-radius: 50%;
    color: #fff;
    font-size: 29px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.fa{
      display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: 
}
.inner-card {

    background: #fff none repeat scroll 0 0;
    padding: 0 15px;
    margin-bottom: 40px;
    transition: all 0.4s ease

}
.row-card2{
  width: 100%;
}
.card-section{
  margin-top: 70px;
}
.navbar{
  background: rgba(0,0,0,0.9);
      opacity: .98;
    width: 100%;
       
        padding-top:20px;
}

  .couter-section{
    margin-top: 100px;
  }
.row-counters{
  width: 100%;
}
.col-md-3{
  float: left;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  font-style: italic;
}
.col-md-3 {
  border-right: 1px solid black;
}

.whole {
  font-size: 50px;
  

}
.num{
  font-size: 60px;
  color:#f9461d;
  font-weight: 600;
}
.heading-destination{
    font-size: 45px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top:70px;
  font-weight: 300;

}
.parent-destination{
margin-top: 150px;
}
.parent-destination p{
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;

}
.row-image{
  width: 100%;
}
.col-md-4{
  float: left;
  overflow: hidden;
}
.col-md-4 img{
  width: 100%;
  height: 300px;
    overflow: hidden;
}
.row-image2{
  width: 100%;
}
.heading-tour{
  font-size: 45px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top:70px;
  font-weight: 300;
}
.parent-tour p{
    text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}
.row-tour{
  width: 100%;
}
.inner-card2{
 background: #FBFBFB;
padding: 25px;
text-align: center;
 box-shadow: 5px 10px 20px rgba(0,0,0,0.1);
 }
 .destination-image{
margin-top: 150px;
 }
 .text-card h1{
  font-family:'Josefin Sans', sans-serif;
  font-style: italic;
  letter-spacing: 2px;
  margin-top: 10px; 
  font-weight: 700;

 }
 .text-card h1:hover{
  color:#FB7F7F;
 }
 .button{
  background: #73F1F8;
  padding: 10px 20px;
  border-radius: 10px 10px 10px 10px;

 }
 .button:hover{
 background: transparent;
 border:2px solid #73F1F8 ;
 transition: 0.7s ease;
 }
 #destination-section{
 background: #FBFBFB;
 padding-top: 5px;
 margin-top: 100px;
 padding-bottom: 150px;
 

 }
 .blog-inner{
  margin-top: 100px;
 }
 .parent-gallery{
  margin-top: 100px;
 }
 .parent-blog{
  margin-top: 100px;
 }

 .gallery-image{
  margin-top: 100px;
 }
 
 .destination-image{
  margin-top: 100px;
 }
 #tour-section{
  padding-top:50px; 
  background: #FCFCFC;
  padding-bottom: 200px;
  
 }
 .cards-tour{
  margin-top: 100px;
 }
 .heading-gallery{
    font-size: 45px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top:70px;
  font-weight: 300;
 }

   .parent-gallery p{
     text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
   }
   .row-gallery {
    width: 100%;
   }
   .gallery-inner{
    width: 100%;
   }
   .gallery-inner img{
    width: 100%;
    height:300px;
   

   }

   .heading-blog{
      font-size: 45px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top:70px;
  font-weight: 500;
   }
   .parent-blog p{
text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
   }
   .row-blog{
    width: 100%;
   }
   .img-part3 img{
width: 100%;
   }
   .text-card3 h1{
letter-spacing: 0px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-weight: 600;
    line-height: normal;
    font-size:20px; 

}
   .text-card3{
    text-align: center;
   }
   .text-card3 p{

    color: #727272;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
   }
   .inner-card3{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
   }
   .heading-contact{
    font-size: 45px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top:70px;
  font-weight: 500;
   }
      .parent-contact p{
        text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;

      }
      .form-section{
        margin-top: 100px;
      }
      .from-part{
        background:url(sea2.jpg);
height: 500px;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
      }
     .form-group .exampleFormControlInput1{
        color: white !important;
      }
      #blog-section{
        background: #FBFBFB;
        padding-top: 50px;
        padding-bottom: 100px;
      }
    .heading-fotter{
font-size: 45px;
font-weight: 800;
letter-spacing: 15px;
font-style: italic;
    }
    .parent-fotter{
      text-align: center;
        margin-top: 50px;
    }
    .parent-fotter span{
      padding: 15px;
margin-top: 100px;
    }
    .parent-fotter p{
      margin-top: 10px;
    }
 .navbar-nav .nav-link:hover{
  color:#f9461d;
  transition: 1s ease;
 }
 .dropdown-menu {
  background: #f9461d !important;
  color: white !important;
 }
 .gallery-inner{
  position: relative;
  width: 100%;
  
 }
.gallery-inner img{
  display: block;
  width: 100%;
  height: auto;
  height: 300px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#FF4625 ;
}
.gallery-inner:hover .overlay {
  opacity: 0.7;
  transform: rotateY(180deg);
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
text-decoration: none;
  text-align: center;
}

.fa-user:hover {
  color: #eee;

}

.image-overlay{
  position: relative;
  width:100%;

}
.image-overlay img{
  display: block;
  width: 100%;
  height: 300px;

}
.middle {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FE7158;
}

.image-overlay:hover .middle {
  opacity: 0.7;
  cursor: pointer;
}


.text{
   color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
