body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Montserrat;
	font-style: normal;
}

/*-----heading-section-design---------*/

#header{
	padding: 10px 0px;
}
.left-logo h1{
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #585859;
	margin-top: 4px;
}
.right-logo input{
	width: 117px;
	height: 50px;
	background: #FEFEFE;
	border: 1px solid #6A6972;
	box-sizing: border-box;
	border-radius: 5px;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #6A6972;
}
.underline-heading{
	border: 1px solid #D1D1D1;
	width: 100%;
	margin-top: 15px;
}
#header{
	padding: 10px 0px;
}
.left-logo h1{
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #585859;
	margin-top: 4px;
}
.right-logo input{
	width: 117px;
	height: 50px;
	background: #FEFEFE;
	border: 1px solid #6A6972;
	box-sizing: border-box;
	border-radius: 5px;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #6A6972;
}
.underline-heading{
	border: 1px solid #D1D1D1;
	width: 100%;
	margin-top: 15px;
}




.wrap{
	max-width: 800px;
	margin: 0 auto;
}
.hedaing-question{
	text-align: center;
}
.hedaing-question h1{
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #000000;
	margin-top: 10px;
}
.hedaing-question h2{
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #292830;
	margin-top: 10px;
}

.heading-question-underline{
	border: 1px solid #A3A3A3;
	width: 100%;
	margin-top: 20px;
}
.hedaing-question h3{
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-top: 30px;
}

/*form-design*/

.form-groups {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	margin-top: 25px;
	border: 2px solid #DCDBDB;
box-sizing: border-box;
border-radius: 5px;
}
.form-groups label{
	font-weight: 600;
font-size: 20px;
line-height: 29px;
margin-left: 10px;
color: #6B6C6C;
margin-top: 5px;

}
.form-groups input{
	margin-left: 25px;
}
.form-groups:hover{
	background: #E4F8FF;
border: 2px solid #2466E4;
box-sizing: border-box;
border-radius: 5px;
cursor: pointer;

}
.parent-form h1{
	font-weight: 600;
font-size: 24px;
line-height: 29px;
margin-top: 20px;
color: #000000;
}
.heading-question-underline-2{
	border: 1px solid #A3A3A3;
	width: 100%;
	margin-top: 40px;

}
.back-button{
	margin-right: 300px;
}
.back-button input{
	background: #FFFFFF;
	border: 2px solid #A3A3A3;
	box-sizing: border-box;
	border-radius: 5px;
	height: 50px;
	width: 117px;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #A3A3A3;

}
.next-button input{
	height: 50px;
	width: 117px;
	background: #2466E4;
	border: 2px solid #2466E4;
	box-sizing: border-box;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
}
.next-button input:hover{
	background: transparent;
	border: 2px solid #2466E4;
	border-radius: 5px;
	color: #2466E4;
	transition: 0.6s ease;
}
.parent-button{
	margin-top: 50px;
}









@media screen and (max-width: 479px)
{
	.right-logo input {
    width: 63px;
    height: 40px;
    background: #FEFEFE;
    border: 1px solid #6A6972;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 600;
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    color: #6A6972;
    margin-top: 10px;
    margin-left: 5px;
}
back-button{
	margin-right: 60px;
}
}
@media screen and (max-width: 551px)
{
	.back-button{
	margin-right: 60px;
}
.back-button{
	margin-right: 60px;
}
.form-groups label {
    font-weight: 600;
    font-size: 15px;
    line-height: 29px;
    margin-left: 10px;
    color: #6B6C6C;
}
.parent-form h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-top: 20px;
    color: #000000;
}
.hedaing-question h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}
}
@media screen and (max-width: 551px)
{
	.back-button{
	margin-right: 60px;
}
.form-groups label {
    font-weight: 600;
    font-size: 13px;
    line-height: 29px;
    margin-left: 10px;
    color: #6B6C6C;
}
.parent-form h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
    color: #000000;
}
}

}