*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}
body{
	box-sizing: border-box;

}

/*global-classes*/
.heading{
	font-weight: 600;
    color: #000000;
    font-size: 40px;
    text-align: center;
    line-height: 1;
  }
.heading-description{
	font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 18px;
}



/*navbar-area-design*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*global-classes*/
.heading{
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: 700;
	text-align:center;
}
.heading-description{
	font-size: 18px;
	font-weight: 600;
	margin-top: 25px;
	text-align: center;
}

/*navbar-area-design*/

.navbar-expand-lg .navbar-nav .nav-link{
	font-size: 18px;
	font-weight: 700;
	margin-right: 30px;
	transition: 0.5s ease;
	color: black;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
	color: #F6415F;
}
.navbar{
	background: #fff !important;
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.navbar-toggler{
	border: 2px solid #F6415F !important;
}

@media(max-width: 991px){
	.navbar-expand-lg .navbar-nav .nav-link{
		line-height: 80px;
	}
}


/*banner-area design*/
.banner-area{
	padding: 100px 0px;
	position: relative;
	display: flex;
	align-items: center;
	
}

.hero-banner h1{
	color: white;
	z-index: 3;
	text-align: center;
	font-weight: 800;
}
.hero-banner p{
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: white;
	margin-top: 25px;
}
.call-action{
	text-align: center;
	margin-top: 40px;
}
.call-action a{
	background:#F6415F;
	padding: 10px 35px; 
	color: white;
	font-weight: 700;
	letter-spacing: 2px;
	transition: 0.5s ease;
	border: 2px solid #F6415F; 
}
.call-action a:hover{
	color: white;
	text-decoration: none;
	background: transparent;
}

@media(max-width: 991px){
	.banner-area{
		
	}
}


/*about-design*/
.about-design{
	padding: 80px 0px;
	background: #FAFAFA;
}
.about-image img{
	width: 100%;
}
.about-descirption{
	margin-top: 25px;
	margin-left: 50px;
}
.about-row{
	margin-top: 80px;
}
.about-action{
	margin-top: 40px;
}
.about-action a{
	background:#F6415F;
	padding: 10px 35px; 
	color: white;
	font-weight: 700;
	letter-spacing: 2px;
	transition: 0.5s ease;
	border: 2px solid #F6415F;
}
.about-action a:hover{
	background: transparent;
	color: black;
	text-decoration: none;
}
.about-descirption h1{
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 2px;
}
.about-descirption p{
	margin-top: 25px;
	font-weight: 600;
}
.mail i{
	font-size: 35px;
	color: #F6415F;
}
.mail span{
	font-size: 20px;
	margin-left: 25px;
	color:#F6415F; 
}

@media(max-width: 991px){
	.mail span {
    font-size: 18px;
    margin-left: 16px;
   }
   .about-descirption{
   	margin-left: 0px;
   }
}

@media(max-width: 479px){
	.mail span {
    font-size: 16px;
    margin-left: 12px;
}
}

/*services-area*/
.service{
	padding: 80px 0px;
}
.card-services{
	background: #fff;
    box-shadow: 0px 30px 60px rgba(160, 159, 202, 0.45);
    padding: 20px 30px 20px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s ease;
    cursor: pointer;
}
.card-services:hover{
	transform: scale(1.1);
}
.card-services h1{
	font-size: 20px;
	font-weight: 800;
}
.card-services h1 span{
	color: #F6415F;
}
.card-services p{
	margin-top: 10px;
	font-size: 15px;
	font-weight: 500;
	line-height: 25px;
}
.card-services img{
	width: 100%;
}
.service-row{
	margin-top: 80px;
}

@media(max-width: 1199px){
	.card-services h1{
		font-size: 16px;
	}
	.card-services p {
		font-size: 13px;
	}
}
/*testimonail-area*/
.testimonial-area{
	padding: 90px 0px;
	background: #f5f5f5;
}
.card-testimonial{
	text-align: center;
}
.image-testimonial img{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	
}
.card-testimonial p{
	color: #6f6f6f;
	margin-top: 25px;
}
.card-testimonial h1{
	font-size: 25px;
	font-weight: 700;
}
.slick-slide img{
	display: inline-block !important;
}
.parent-testimonial{
	margin-top: 80px;
}
.button_testimonial{
	margin-top: 80px;
	text-align: center;
}
.button_testimonial h1{
	font-size: 30px;
	font-weight: 700;
}
.button_testimonial h1 span{
	font-size: 30px;
	color: #FF506D;
	font-weight: 800;
}
.button_testimonial a{
		color: #fff;
    text-decoration: none;
    background-color: #FF506D;
    padding: 8px 35px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 600;
    border-radius: 3px;
    transition: 1s ease;
    border: 2px solid #FF506D;
    margin-top: 25px;
}
.button_testimonial a:hover{
	color: #6f6f6f;
	background: transparent;
	border: 2px solid #FF506D;
	text-decoration: none;
}


/*contact*/
.social-media a{
	font-size: 55px;
	color: #FF506D;
	transition: 0.5s ease;
}
.social-media{
	text-align: center;
	margin-top: 50px;
}
.social-media h3{
	font-size: 20px;
	font-weight: 700;
}
.contact-area{
	padding: 80px 0px;
}


.fotter-area{
	padding: 50px 0px;
	background: #0e1f28;
	color: white;
}
.hero-banner-description h4{
	margin-top: 25px;
}
.heading-fotter{
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #FF506D;
}
.heading-para{
	margin-top: 25px;
}
.second{
	text-align: center;
}
.second h3{
	font-size: 18px;
	margin-top: 25px;
}
.second h3 a{
	color: white;
	transition: 0.5s ease;
}
.second h3 a:hover{
	color: #FAB702;
	text-decoration: none;
}
.third h3{
	font-size: 18px;
	margin-top: 25px;
}
@media(max-width: 991px){
	.social-media span i{
   font-size: 25px;
   padding: 0px 20px;
   margin-top: 25px;
   color: white;
   transition: 0.5s ease;
}
}

/*loderr*/

		.loder_bg{
			position: fixed;
			z-index: 999999;
			background:black;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.loder {
  border: 8px solid #FF506D;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
     z-index:100;
}
.whatsapp_float i{
     	margin-top: 18px;
     }

/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp_float i{
     	margin-top: 18px;
     }
    .whatsapp_float {
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}


.call-float{
	display: none;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#FF506D;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

@media screen and (max-width: 767px){
     .call-float i{
     	margin-top: 18px;
     }
    .call-float {
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
        display: block;
    }
}

		.loder_bg{
			position: fixed;
			z-index: 999999;
			background:black;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.loder {
  border: 8px solid #FF506D;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
